LASTFM_API_KEY=936b1ac70edb22b26ffd03c3dce5cb7b
DOWNTIFY_API_URL=http://localhost:8000
MUSIC_DOWNLOAD_DIR=/music/downloads
CRON_SCHEDULE=0 0 2 * * *
MAX_DAILY_DOWNLOADS=50
SEED_ARTISTS=Radiohead, The National, Aphex Twin
LASTFM_USERNAME=athuuul
